@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Marmelad', sans-serif;
}

button {
    margin: 0;
    padding: 0;
    height: 100%;
}
