@import url('../../common-style-vars.css');

.fieldset {
    position: relative;
}

.formInner {
    max-width: 500px;
}

.addPhotoButton {
    display: block;
    margin-bottom: 8px;
}

.deletePhotoButton {
    display: block;
    margin-left: 7px;
    margin-top: 5px;
    padding-bottom: 2px;
}

.field {
    display: flex;
}

.fieldInner {
    width: 100%;
}

.preview {
    position: absolute;
    left: calc(100% + 45px);

    &:hover {
        z-index: 1;
    }

    & img {
        height: 126px;
        max-height: 300px;
        transition: height 0.5s ease;
    }

    & img:hover {
        height: 300px;
    }
}

.errorMessage {
    position: absolute;
    bottom: 28px;
    left: 95px;
}

.submitFormButton {
    margin-top: var(--default-gap)
}

.gallery {
    position: absolute;
    left: calc(100% + 45px);
    top: -181px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
    width: 1000px;
}

.photoWrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.galleryPhoto {
    width: 100%;
}

.folderTitle {
    width: 100%;
}