.header {
    display: flex;
    justify-content: space-between;
}

.editLink {
    color: white;
    font-size: 12px;

    &:hover {
        color: royalblue;
    }
}

.manager {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tags {}

.accessLevel {
    font-size: 10px;
}