.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 13px;
    top: 10px;
    width: calc(100% - 453px);
}

.editLink {
    font-size: 12px;

    &:hover {
        color: #b4b4e6;
    }
}

.manager {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tags {}

.accessLevel {
    font-size: 10px;
}

.date {
    font-size: 10px;
}

.footerLeft {
    display: flex;
    gap: 10px;
}

.text {
    margin-top: 10px;
}