.header {
    display: flex;
    justify-content: space-between;
}

.tags {
    margin-top: 10px;
}

.editLink {
    color: white;
    font-size: 12px;

    &:hover {
        color: royalblue;
    }
}

.manager {
    display: flex;
    gap: 15px;
    align-items: center;
}