.wrapper {
    position: relative;
}

.suggestions {
    display: none;
    list-style: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    top: 35px;
    box-shadow: 0px 0px 1px 1px royalblue;
    z-index: 1;

    &:hover {
        border-color: royalblue;
    }
}

.open {
    display: block;
}

.item {
    display: flex;
    flex-direction: row-reverse;
}

.itemEmpty {
    padding: 5px;
}

.suggestionButton {
    display: block;
    width: 100%;
    border: none;
    text-align: left;
    padding: 5px;
    cursor: pointer;
    background-color: white;

    &:hover {
        background-color: royalblue;
    }
}

.deleteTagButton {
    display: flex;
    height: 26px;
    padding: 0px 9px;
    align-items: center;

    &:hover + .suggestionButton {
        background-color: royalblue;
    }
}

.selectedTags {
    margin: 10px 0;
}