@import url('../../common-style-vars.css');

.fieldset {
    position: relative;
}

.formInner {
    max-width: 500px;
}

.addInfoButton {
    display: inline-block;
    margin-bottom: 8px;

    & + .addInfoButton {
        margin-left: 5px;
    }
}

.deletePhotoButton {
    display: block;
    margin-left: 8px;
    margin-top: 5px;
    padding: 2px 7px 4px;
}

.field {
    display: flex;
}

.fieldInner {
    width: 100%;
}

.previewImage {
    display: block;
    height: 0;
    max-height: 300px;
    transition: height 0.5s ease;

    &[src] {
        height: 125px;
        margin-bottom: 10px;
    }

    &:hover {
        height: 300px;
    }
}

.errorMessage {
    position: absolute;
    bottom: 28px;
    left: 95px;
}

.submitFormButton {
    margin-top: var(--default-gap)
}

.gallery {
    position: absolute;
    left: calc(100% + 45px);
    top: -155px;
    width: 815px;
}

.folderTitle {
    width: 100%;
}

.dateFieldWrapper {
    display: flex;
}

.dateFieldInput {
    width: 100%;

    & + .dateFieldInput {
        margin-left: 5px;
    }
}

.dateFieldDeleteButton {
    margin-left: 8px;
    margin-top: 5px;
    padding: 2px 7px 4px;
}