.button {
    position: relative;
    display: block;
    padding: 5px 15px;
    font-size: var(--font-size);
    border: none;
    border-radius: 5px;
    background-color: rgb(208 208 208);
    cursor: pointer;

    &:hover::after {
        content: '';
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        left: 0;
        right: 0;
    }
}

.size_s {
    padding: 0 5px;
    font-size: 12px;
}

.view_danger {
    background-color: tomato;
}