@import url('../../common-style-vars.css');

.input {
    display: block;
    border: 1px solid black;
    padding: 5px 7px;
    font-size: var(--font-size);
    width: 100%;
    height: var(--input-height);
}

.textarea {
    min-height: 80px;
}

.error {
    border-color: tomato;
}

.errorMessage {
    color: tomato;
    font-size: 10px;
    position: absolute;
    top: -13px;
    right: 0;
}

.success {
    border-color: limegreen;
}
