@import url('../../common-style-vars.css');

.fieldset {
    position: relative;
}

.formInner {
    max-width: 500px;
}

.addPhotoButton {
    display: block;
}

.deletePhotoButton {
    display: block;
    margin-left: 5px;
    width: 30px;
    height: var(--input-height);
}

.field {
    display: flex;

    & + .field {
        margin-top: 10px;
    }
}

.fieldInner {
    width: 100%;
}

.preview {
    position: absolute;
    left: calc(100% + 45px);

    &:hover {
        z-index: 1;
    }

    & img {
        height: 120px;
        max-height: 300px;
        transition: height 0.5s ease;
    }

    & img:hover {
        height: 300px;
    }
}