.figure {
    display: flex;
    gap: var(--default-gap);

    & + .figure {
        margin-top: 15px;
    }

    &:nth-child(2) {
        .imgDescription {
            padding-top: 25px;
        }
    }
}

.imgDescription {
    padding-top: 10px;
}